 /* footer */
 footer{
    background-color: black;
    
}
.footerContainer{
    width: 100%;
    padding: 50px 30px 30px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.8;
}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: rgba(0, 0, 0);
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}
@media (max-width:600px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}
