* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image:  fixed;
    background-image: url(cineflex-background.JPEG);
    background-size: cover;
    background-repeat: no-repeat;


}.rectangle {
  width: 85%;
  min-height: 450px;
  height: 50%;
  margin: 70px  auto;
  background: rgba(90, 78, 78, 0.38);
  /* mix-blend-mode: difference; */
  border: 1px solid #a49999;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

.image:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: scale(1.05);
    transition: 0.25s ease;
    
}

.image img {
    object-fit: cover;
    height: 350px;
    width: 220px;
    border-radius: 20px;
}

h2{
    color: #fff;
}

